<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cookandroid.myassistant">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- -인터넷 권한 부여 -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Market"
            android:label="마켓"/>
        <activity android:name=".MySkin"
            android:label="내가 만든 스킨"/>
        <activity android:name=".EditAssistantFH"
            android:label="앞머리"/>
        <activity android:name=".EditAssistantBH"
            android:label="뒷머리"/>
        <activity android:name=".EditAssistantACC"
            android:label="액세서리"/>
        <activity android:name=".EditAssistantCL"
            android:label="의상"/>
        <activity android:name=".EditAssistantAP"
            android:label="앞치마"/>
        <activity android:name=".EditAssistantEYE"
            android:label="눈"/>
        <activity android:name=".EditBackground"
            android:label="배경"/>
        <activity android:name=".FinalShow"
            android:label="최종"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MarketDetail"
            android:label="상품 상세"/>
        <activity android:name=".SkinDetail"
            android:label="스킨 상세"/>
        <activity
            android:name=".AddNewStyleSkin"
            android:configChanges="orientation|keyboardHidden|screenSize"> <!-- -가로세로 변환시 리로딩 방지 -->
            >
        </activity>
        <activity android:name=".editVoice"
            android:label="목소리 설정"></activity>
    </application>

</manifest>